<% provide(:title,'Home')%>
<div class="center hero-unit">
    <h1>Parami Soft</h1>
<h2>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
</h2>
<%= link_to "Sign up now" , signup_path , class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("/app/assets/images/rails.png", alt: "Rails"), "#"%>
<%= link_to image_tag("Users/parami/Desktop/rails.png", alt: "Rails"), "#"%>